@charset "utf-8"; 
/* CSS Document */  

.bg-item1 {
    background-color:#678983;
}

@font-face {
    font-family: 'baloo_bhaijaanregular';
    src: url('fonts/baloobhaijaan-regular-webfont.eot');
    src: url('fonts/baloobhaijaan-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/baloobhaijaan-regular-webfont.woff') format('woff'),
         url('fonts/baloobhaijaan-regular-webfont.ttf') format('truetype'),
         url('fonts/baloobhaijaan-regular-webfont.svg#baloo_bhaijaanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {  
    font-family:'baloo_bhaijaanregular';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
        
    color: #181D31;  
}