<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>

    <title>Book Recommendation System</title>
  </head>
  <body class="bg-item1">
    {% include 'navbar.html' %}
    <div class="container px-4 py-20 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1 class="head-title">By Author</h1>
      <section class="text-gray-600 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="leading-relaxed text-lg" style="color: #181D31">Book Recommended System</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6" style="color: #181D31"></span>
            <h2 class="font-medium title-font tracking-wider text-sm" style="color: #181D31">Powerpuff Girls</h2>
            <p style="color: #181D31">Senior Project</p>
          </div>
        </div>
      </section>
  </body>
</html>