<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>

    <title>Book Recommendation System</title>
  </head>
  <body class="bg-item1">
    {% include 'navbar.html' %}
    <div class="container px-4 py-20 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <div>
          <h1 class="head-title">Top Books</h1>
        </div>
        
        {% for i in range(book_name|length)%}
            <div class="col-md-3" style="margin-top:50px">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{ image[i] }}">
                  <h2 class="text-black"><b>{{ book_name[i] }}</b></h2>
                  <h4 class="text-black">{{ author[i] }}</h4>
                  <h4 class="text-black">{{ votes[i] }}</h4>
                  <h4 class="text-black">{{ rating[i] }}</h4>
                </div>
              </div>
            </div>
        {% endfor %}

        
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            </div>
          </div>
        </div>
      <section class="text-gray-600 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="leading-relaxed text-lg foot">Book Recommendation System</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6 foot"></span>
            <h2 class="font-medium title-font tracking-wider text-sm foot">Powerpuff Girls</h2>
            <p class="foot">Senior Project</p>
          </div>
        </div>
      </section>
  </body>
</html>