l<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="text-gray-600 body-font -my-14 head-nav">
    <div class="container mx-auto flex flex-wrap p-5 flex-col flex-row items-center">
      <a href="/">
        <img src="/static/images/logomerah.png" alt="Bookly" width="160" height="60">    
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="/recommend" class="mr-5 hover:text-yellow-100 a-menu-nav">Recommend Me</a>
        <!-- <select name="category" onchange="location = this.value;" placeholder="Category" class="dropdown a-menu-nav hover:text-yellow-100">
          <option value="">Category</option>
          <option value="/byauthor">Author</option>
          <option value="/bygenre">Genre</option>
        </select> -->
      </nav>
      <a href="/profile" class="mr-5 hover:text-yellow-100 a-menu-nav">Profile</a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% if username %}
        <a href="/logout" class="mr-5 hover:text-yellow-100 a-menu-nav">Logout</a>
        {% else %}
          <a href="/login" class="mr-5 hover:text-yellow-100 a-menu-nav">Login</a>
      {% endif %}
    </div>
  </header><hr>
  