<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>

    <title>Book Recommendation System</title>
  </head>
  <body style="background-color: #678983;">
      {% include 'navbar.html' %}
      <section class="text-gray-600 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="leading-relaxed text-lg" style="
              font-family: 'Baloo Bhaijaan';
              font-style: normal;
              font-weight: 400;
              font-size: 60px;
              line-height: 90px;
              color: #181D31;">Profile</p>
            
              <div class="edit-profile" style="
              font-family: 'Baloo Bhaijaan 2';
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              line-height: 43px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #FFFFFF;">

              <div class="edit-profile">
                <!-- <div class="avatar-profile">
                    <img src="#">
                </div> -->

                <div class="mt-5" style="
                font-family: 'Baloo Bhaijaan 2';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 43px;
                align-items: center;
                text-align: left;
                color: #FFFFFF;
                justify-content: flex-end;
                ">
                    <div class="mb-3">
                        <h4>Name :</h4>
                    </div>

                    <div class="mb-3">
                        <h4>E-mail Address :</h4>
                    </div>

                    <div class="mb-3">
                      <h4>Password :</h4>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </section>
  </body>
</html>



