<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Page</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>
  </head>
  <body class="bg-item2">
    <div class="container-login">
      <div class="container mx-auto flex flex-wrap p-5 flex-col flex-row items-center">
        <img src="/static/images/logokuning.png" alt="Bookly" class="logo-login">
        <div class><form action="" method="post">
          <input class="form-login na" type="text" placeholder="Name" name="name" id="name" value="{{
            request.form.name }}">
          </div>
          <div class>
           <input class="form-login un-2" type="text" placeholder="Username" name="username" id="username" value="{{
            request.form.username }}">
          <div class>
           <input class="form-login pas" type="text" placeholder="Email" name="email" id="email" value="{{
            request.form.email }}">
          </div>
          <div class>
           <input class="form-login pas-2" type="password" placeholder="Password" name="password" id="password" value="{{
            request.form.password }}">
          </div>
          <div class>
            <input class="btn-register" type="submit" value="Register">
          </div>
          <a href="/login" class="ref-login">Already have an account?</a>
      </div>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
          {% else %}
            <p class="message"><strong></strong> {{ msg }}
      {% endif %}
    </div>
  </body>
  </html>