<html>
  <head>
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>
  </head>
  <body style="background-color: 181D31;">
    <div class="container" style=" position: absolute; width: 500px; height: 500px; left: 50%; top: 50%; transform: translate(-50%,-50%); 
    padding: 15px; background: #C92C6D; border-radius: 15px;">
      <div class="container mx-auto flex flex-wrap p-5 flex-col flex-row items-center">
        <img src="/static/images/logokuning.png" alt="Bookly" style="width:240px; height:90px; position:absolute; left: 27.5%; top: 10%">
        <div class><form action="" method="post">
          <input style="position: absolute; width: 400px; height: 40px; left: 50%; top: 35%; transform: translate(-50%,-50%); 
            padding: 15px; background: #181D31; border-radius: 15px;" type="text" placeholder="Name" name="name" value="{{
            request.form.name }}">
          </div>
          <div class>
           <input style="position: absolute; width: 400px; height: 40px; left: 50%; top: 45%; transform: translate(-50%,-50%); 
           padding: 15px; background: #181D31; border-radius: 15px;" type="text" placeholder="Username" name="username" value="{{
            request.form.username }}">
          <div class>
           <input style="position: absolute; width: 400px; height: 40px; left: 50%; top: 55%; transform: translate(-50%,-50%); 
           padding: 15px; background: #181D31; border-radius: 15px;" type="text" placeholder="Email" name="email" value="{{
            request.form.email }}">
          </div>
          <div class>
           <input style="position: absolute; width: 400px; height: 40px; left: 50%; top: 65%; transform: translate(-50%,-50%); 
           padding: 15px; background: #181D31; border-radius: 15px;" type="password" placeholder="Password" name="password" value="{{
            request.form.password }}">
          </div>
          <a href="/login" class="mr-5 hover:text-gray-900 menu-nav" 
              style="position: absolute; left: 50%; top: 75%; transform: translate(-50%,-50%);
              font-family: 'Baloo Bhaijaan 2';
                  font-style: normal;
                  font-weight: 300;
                  font-size: 15px;">Already have an account?</a>
          <div class>
            <input class="btn btn-default" type="submit" value="Register" style="
            position: absolute;
            width: 205px;
            height: 55px;
            left: 50%; top: 85%; transform: translate(-50%,-50%); padding: 15px;
            background: #FEEFBE;
            border-radius: 15px;">
          </div>
      </div>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
  </html>