<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="template.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhaijaan 2' rel='stylesheet'>

    <title>Book Recommendation System</title>
  </head>
  <body class="bg-item1">
    {% include 'navbar.html' %}
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1>My Saved Books</h1>
        </div>
      </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="w-20 md:w-30 lg:w-40 p-2">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="books" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
          </a>
          <div class="mt-4">
            <h2 class="text-gray-900 title-font text-lg font-medium">Book Title</h2>
            <p class="mt-1">Author</p>
          </div>
        </div>
        <div class="w-10 md:w-20 lg:w-40 p-2">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="books" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261">
          </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Book Title</h2>
          <p class="mt-1">Author</p>
        </div>
  </body>
</html>